<section class="panel" id="about">
  <h2>About</h2>
  <div class="form-group">
    <label>Descriptions</label>
    <div id="aboutDescriptions" class="descriptions-container"></div>
    <button type="button" id="aboutDescriptionsAdd" class="btn-add-description">+ Add Description</button>
    <div id="aboutKeywords" class="keywords-container"></div>
    <button type="button" id="aboutKeywordsAdd" class="btn-add-keyword">+ Add Keyword</button>
  </div>
</section>
