<nav id="nav" class="app-nav">
  <button data-section="template" class="nav-btn">Configurações</button>
  <button data-section="header" class="nav-btn">Cabeçalho</button>
  <button data-section="about" class="nav-btn">Sobre</button>
  <button data-section="skills" class="nav-btn">Habilidades</button>
  <button data-section="target" class="nav-btn">Objetivo</button>
  <button data-section="graduation" class="nav-btn">Graduação</button>
  <button data-section="specialization" class="nav-btn">Especialização</button>
  <button data-section="projects" class="nav-btn">Projetos</button>
  <button data-section="experience" class="nav-btn">Experiência</button>
</nav>
