<aside class="preview-container">
  <div class="preview-controls">
    <button id="preview" class="btn-primary">Pré visualizar</button>
    <!-- <button id="downloadPdf" class="btn-primary">Download PDF</button> -->
    <button id="downloadPdf" class="btn-primary">Copiar JSON</button>
  </div>
  <!-- <div id="output">
    <h3>Preview</h3>
    <iframe id="previewFrame"></iframe>
  </div> -->
</aside>
