<section class="panel" id="skills">
  <h2>Habilidades</h2>
  <div id="skillsList"></div>
  <button id="skillsAdd">+ Adicionar Habilidade</button>
  <div class="form-group">
    <label>Palavras-chave</label>
    <div id="skillsKeywords" class="keywords-container"></div>
    <button type="button" id="skillsKeywordsAdd" class="btn-add-keyword">+ Adicionar palavra-chave</button>
  </div>
</section>
