<section class="panel" id="target">
  <h2>Target</h2>
  <div class="form-group">
    <label>Position <input id="targetPosition"/></label>
  </div>
  <div class="form-group">
    <label>Keywords</label>
    <div id="targetKeywords" class="keywords-container"></div>
    <button type="button" id="targetKeywordsAdd" class="btn-add-keyword">+ Add Keyword</button>
  </div>
</section>
