<section class="panel" id="target">
  <h2>Objetivo</h2>
  <div class="form-group">
    <label>Cargo <input id="targetPosition"/></label>
  </div>
  <div class="form-group">
    <label>Palavras-chave</label>
    <div id="targetKeywords" class="keywords-container"></div>
    <button type="button" id="targetKeywordsAdd" class="btn-add-keyword">+ Adicionar palavra-chave</button>
  </div>
</section>
