<section class="panel" id="template">
  <h2>Template</h2>
  <div class="form-group">
    <label>Language
      <select id="templateLanguage">
        <option value="enUs">English</option>
        <option value="ptBr">Português</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label><input type="checkbox" id="templateMonochrome" /> Monochrome</label>
  </div>
  <div class="form-group">
    <label>Font color 
      <input type="color" id="templateFontColor" value="#000000"/>
    </label>
  </div>
  <div class="form-group">
    <label>Font size 
      <input type="number" id="templateFontSize" value="12" min="8" max="36"/>
    </label>
  </div>
</section>
