<section class="panel" id="template">
  <div class="form-group">
    <label>Template
      <select id="templateModel">
        <option selected value="default">Padrão</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label>Language
      <select id="templateLanguage">
        <option selected value="ptBr">Português</option>
        <option value="enUs">English</option>
      </select>
    </label>
  </div>
  <!-- <div class="form-group">
    <label><input type="checkbox" checked id="templateMonochrome" /> Monochrome</label>
  </div> -->
  <div class="form-group">
    <label>Font color 
      <input type="color" id="templateFontColor" value="#706f6f"/>
    </label>
  </div>
  <div class="form-group">
    <label>Font size 
      <input type="number" id="templateFontSize" value="1" min="1" max="10"/>
    </label>
  </div>
</section>
